<!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
          body { font-family: Arial, sans-serif; padding: 20px; text-align: center; }
          h1 { color: #0066cc; }
          p { font-size: 16px; color: #333; }
        </style>
      </head>
      <body>
        <h1>Invoice: #<%= invoiceNumber%></h1>
        <p>Customer : <%= customer %> </p>
        <p>Product : <%= product %> </p>
        <p>Price : <%= price %> </p>
        <!-- ham yaha par html me yese value dekar pdf me print hoga -->
      </body>
      </html>
    
